<nav class="navbar navbar-default" style="background-color:firebrick;">
    <div class="container-fluid">
            <ul class="nav navbar-nav">
                <li routerLinkActive="active"><a style="cursor: pointer;" routerLink="/animes">Anime List</a></li>
                <li routerLinkActive="active"><a style="cursor: pointer;" routerLink="/characters">Character List</a></li>
                <li routerLinkActive="active"><a style="cursor: pointer;" routerLink="/random">Random Anime & Character</a></li>
            </ul>
    </div>
</nav>

<div class="container">
    <div class="row">
        <div class="col-md-12">
<router-outlet></router-outlet>
        </div>
    </div>
</div>

